<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>525455076205-nm4ahbljq5q3csha4p42ivlqvvse0c4m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525455076205-nm4ahbljq5q3csha4p42ivlqvvse0c4m</string>
	<key>API_KEY</key>
	<string>AIzaSyAYRHwd8DKOPkVnq5OsVHhW8VIbAs8A3UI</string>
	<key>GCM_SENDER_ID</key>
	<string>525455076205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Cooper.EasyMeals</string>
	<key>PROJECT_ID</key>
	<string>easymeals-ad4d4</string>
	<key>STORAGE_BUCKET</key>
	<string>easymeals-ad4d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:525455076205:ios:03ad71325033a833</string>
	<key>DATABASE_URL</key>
	<string>https://easymeals-ad4d4.firebaseio.com</string>
</dict>
</plist>